<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="apptrive" connectionString="Data Source=204.93.178.157; Initial Catalog=apptrive_dbx; User ID=apptrive_us; Password='mytutorx12@'" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>